{% trans %}


Através da interface amigável do CKAN, os usuários poderão buscar, visualizar, encontrar explicações técnicas, de maneira acessível e transparente, assim como baixar dados em formatos abertos, permitindo uma integração direta com outras ferramentas e promovendo a reutilização das informações por diversos setores da sociedade, incluindo pesquisadores, desenvolvedores e gestores públicos.


<p>O CKAN é a principal plataforma mundial de portal de dados de código aberto. É uma solução de software completa e pronta para uso que torna os dados
acessíveis e utilizáveis – fornecendo ferramentas para simplificar a publicação, compartilhamento,
descoberta e uso de dados (incluindo armazenamento de dados e fornecimento de APIs de dados robustas). 
O CKAN é direcionado a publicadores de dados (governos nacionais e regionais,
empresas e organizações) que desejam tornar seus dados abertos e disponíveis.</p>
<p>O CKAN é usado por governos e grupos de usuários em todo o mundo e alimenta uma variedade
de portais de dados oficiais e comunitários, incluindo portais para governos locais, nacionais
e internacionais, como o <a href="https://data.gov.uk">data.gov.uk</a> do Reino Unido e o
<a href="https://catalog.data.gov/">catalog.data.gov</a> dos Estados Unidos, o <a href="https://dados.gov.br/">dados.gov.br</a> brasileiro, 
portais do governo holandês e dos Países Baixos, bem como sites de cidades e municípios nos EUA,
Reino Unido, Argentina, Finlândia e outros lugares.</p>
<p>CKAN: <a href="https://ckan.org/">https://ckan.org/</a><br />
Casos de Uso do CKAN: <a href="https://ckan.org/showcase">https://ckan.org/showcase</a><br />



{% endtrans %}

